#loading-bar {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 5vh;
    border: 0px solid white ;

    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    text-align: right;
    line-height: 5vh;
    padding-right: 4vw;
    color: white;

    opacity: 0;
    display: none;
}

#bar {
    position: absolute;
    background-color: white;
    inset: .6vw;
    right: 50vw;

}

#watermark {
    opacity: 0;
}